/* Full page center */
.page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #97aceb, #1cc88a);
  font-family: Arial, sans-serif;
}

/* Card */
.card {
  background: #ffffff;
  padding: 40px;
  width: 350px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  text-align: center;
}

/* Heading */
.card h1 {
  margin-bottom: 25px;
  color: #333;
}

/* Input group */


.input-group input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 14px;
  transition: 0.3s;
}

.input-group input:focus {
  border-color: #4e73df;
  outline: none;
  box-shadow: 0 0 5px rgba(78, 115, 223, 0.3);
}

/* Button */
.register-btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #4e73df;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.register-btn:hover {
  background: #2e59d9;
}



.input-group {
  margin-bottom: 18px;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 600;
  color: #333;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 14px;
  transition: 0.3s;
}

.input-group input:focus {
  border-color: #4e73df;
  outline: none;
  box-shadow: 0 0 5px rgba(78, 115, 223, 0.3);
}